{% extends 'frontend/base.html' %}
{% load static i18n custom_base_tags %}

{% block content %}
    <div class="auto-height"></div>
    <!-- contact top -->
    <div class="about-top text-center text-light">
        <div class="container">
            <div class="about-top-inner">
                <h1>About us</h1>
                <p>
                    Gtechsolutions is a globally recognized technology company that offers digital services. 
                    We offer strategic solutions that will promote your business from where it is to where it ought to be.
                    We offer services such as Web development, software development, Search Engine Optimization (SEO),
                    database administration and management and data analysis, and are renowned for the quality services.
                    Our staff are highly skiled in various technologies and sustain the energy, professional capability and expertise 
                    to deliver to you the best of quality services that your brand deserves.
                </p>
            </div>
        </div>
    </div>
    <!-- about informations -->
    <div class="team-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Meet our team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="chef-items">
                    <!-- Single Item -->
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'frontend/img/desmond.jpg' %}" alt="Thumb">
                            </div>
                            <div class="info">
                                <div class="overlay">
                                    <h4>Desmond richman</h4>
                                    <span>backend Developer</span>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li class="facebook">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li class="whatsapp">
                                            <a href="https://wa.me/+2349137146149"><i class="fab fa-whatsapp"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'frontend/img/mercy.jpg' %}" alt="Thumb">
                            </div>
                            <div class="info">
                                <div class="overlay">
                                    <h4>Oloche Mercy</h4>
                                    <span>UI/UX Designer</span>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/oloche.mercy.5?mibextid=kFxxJD"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="https://www.linkedin.com/in/mercy-oloche"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li class="whatsapp">
                                            <a href="https://wa.me/+2347050604163"><i class="fab fa-whatsapp"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'frontend/img/gospel.jpg' %}" alt="Thumb">
                            </div>
                            <div class="info">
                                <div class="overlay">
                                    <h4>Gospel Yimase</h4>
                                    <span>Data Analyst</span>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/profile.php?id=100077495807789"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li class="whatsapp">
                                            <a href="https://wa.me/+2349063325704"><i class="fab fa-whatsapp"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Chef Area -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area bg-gray carousel-shadow default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2>Reviews</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial-items testimonials-carousel owl-carousel owl-theme text-center">
                        {% if testimonies|length > 0 %}
                            {% for testimony in testimonies %}
                            <!-- Single Item -->
                            <div class="item review-height">
                                <div class="thumb">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="clients-info">
                                    <h5>{{testimony.fullname}}</h5>
                                </div>
                                <p>
                                    {{testimony.message}} 
                                </p>
                                <span><i class="fas fa-calendar-alt"></i> {{testimony.date}}</span>
                            </div>
                            <!-- End Single Item -->
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <div class="mission-vision default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="statements text-center border-shadow">
                        <h2>Mission</h2>
                        <p>
                            To harness the power of technology to build high quality digital products, and render services that offers the best value to our customers
                            that willenable them solve a business problem.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="statements text-center border-shadow">
                        <h2>Vision</h2>
                        <p>To be globally recognized for the exceptional quality services we deliver and the positive
                            impact we have made in the technological sphere. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block extra_js %}
    <script>
        function SameHeight(element_class){
            // create a new array instance
            var heights = new Array()
            // loop through elements and get the maximum value
            $(element_class).each(function(){
                heights.push($(this).outerHeight())
            })
            // change all element height to maximum value
            max_height = Math.max(...heights)
            $(element_class).each(function(){
                $(this).css("height", max_height)
            })
        }
        $(window).on('load', function() {
            SameHeight(".review-height")
        });
        $(window).on('resize', function() {
           SameHeight(".review-height")
        });
    </script>
{% endblock %}
