<!-- Start Footer Bottom -->
<div class="footer-bottom text-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 company-name">
                <h3>Gtechsolutions</h3>
            </div>
            <div class="col-sm-8 link company-contact"> 
                <ul>
                    <li>
                        <i class="fas fa-envelope-open"></i> aulematins@gmail.com
                    </li>
                    <li>
                        <i class="fas fa-phone"></i> +2349098274919
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 last-div">
                <p class="">&copy; Copyright 2024. All Rights Reserved by Gtechsolutions</p>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Bottom -->